.divInput {
    margin-bottom: 15px;
}
.divInput > input {
    width: 90%;
    padding: 35px 10px 8px 12px;
    margin-top: 6px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    text-align: right;
}
#blue > input {
    background-color: #182034;
    color: white;
}
#purple > input {
    background-color: #1D0934;
    color: #FFE53D;
}
#white > input {
    background-color: #EDEDED;
    color: #35352C;
}
