
.divInput {
    margin-bottom: 15px;
}
.divInput > input {
    background-color: #182034;
    color: white;
    width: 90%;
    padding: 30px 10px 8px 12px;
    font-size: 30px;
    font-weight: lighter;
    border: none;
    border-radius: 8px;
    text-align: right;
}