.container {
    width: 360px;
    margin: 8vh auto;
    border-radius: 10px;
}
.div1 {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.themecontain {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.input {
    width: 70px;
    height: 25px;
    padding: 2px;
    margin: 5px 0px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.radio2, .radio3, .radio1 {
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
}
.radio1 {
    background-color: red;
}
label {
    font-weight: bolder;
    margin-top: 15px;
}
#divblue {
    color: #EAE3DC;
}
#divpurple {
    color: #FFE53D;
}
#divwhite {
    color: #35352C;
}
#purple {
    background-color: #1D0934;
}
#blue {
    background-color: #182034
}
#white {
    background-color: #D1CCCC;
}
span {
    margin: 0px 8px;
    font-weight: bolder;
}